# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Gradle CI with SAST

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Gradle Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
    
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
        
      - name: init with Gradle
        uses: gradle/gradle-build-action@v2
      - run: gradle init
    
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.2
          arguments: build

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: todo/build/libs/todo-0.0.1-SNAPSHOT.jar
        
  sast:
    name: Static Application Security Testing with Synk
    runs-on: ubuntu-latest
    needs: [ build ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: build-artifact

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: SAST Scan
        run: snyk test --all-projects --all-sub-projects --json > snyk_results.json

      - name: Upload Snyk results
        uses: actions/upload-artifact@v2
        with:
          name: snyk-results
          path: snyk_results.json

  sast-results:
    name: Process Snyk Results
    runs-on: ubuntu-latest
    needs: [ sast ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download Snyk results
        uses: actions/download-artifact@v2
        with:
          name: snyk-results

      - name: Process Snyk results
        run: |
          cat snyk_results.json